<section class="card border-left-0 border-right-0">
  <a href="/api/posts/{{id}}">
    {{!-- <header>{{title}} [{{format_date date_created}}]</header> --}}
    <h2>{{title}}</h2>
    <p>{{format_date date_created}}</p>
  </a>
</section>